*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik 80s Fade", cursive;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a .container {
  max-width: 1440px;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link {
  padding: 0 20px;
  line-height: 30px;
  text-decoration: none;
  color: black;
  font-size: larger;
}
.nav-link:hover {
  color: blue;
  transition: color 0.5s;
}
.nav-link:active {
  color: rgb(81, 138, 138);
  transition: color 0.9s;
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgba(202, 221, 221, 0.5);
}
